<div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%= name %></div>
      <div class="panel-body">
        <a href="#<%= id %>" class="thumbnail">
          <div class="ratio" style="background-image:url('<%= images[0] %>')">
          </div>
        </a>
      </div>
    </div>
</div>
