<div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%= name %></div>
      <div class="panel-body">
        <a href="#<%= id %>" class="thumbnail">
          <img class="thumbnail-image" data-src="holder.js/100%x180" src="<%= images[0] %>">
        </a>
      </div>
    </div>
</div>
