<div class="form-signin">
    <h2 class="form-signin-heading">Acceso</h2>
    <input type="text" class="form-control" placeholder="Nombre" autofocus>
    <input type="password" class="form-control" placeholder="Password">
    <button id="loginsubmit" class="btn btn-primary btn-block">Entrar</button>
</div>
