$iconSpritePath: '/images/glyphicons-halflings.png';

@import 'sass-bootstrap/lib/bootstrap';

.content {
    padding-top: 60px;
}

#jumbo {
    position: fixed;
    z-index: 2;
}

.thumbnail-image {
    max-height: 250px;
}

.brand-right {
    float: right;
    margin-left: -20px;
}